{{ form_start(commentform) }}


{{ form_widget(commentform.idu, { 'id': 'idu' }) }}
{{ form_widget(commentform.contenu, { 'id': 'contenu' }) }}
<button onclick="save();" type="button">Valider</button>
{{ form_end(commentform) }}


<script>
    function save() {
        var idu = document.getElementById("idu").value;
        var contenu = document.getElementById("contenu").value;

        var comment = {
            idu: Number(idu),
            contenu: contenu,
        };


        $.ajax({
            type: "POST",
            url: 'setProduit/' + e.target.id + '/' + e.target.value,
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(comment),
            success: function (data) {
                alert("yerfess");
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Ajax request failed.');
            }
        });
    }
</script>