{% extends "default/LayoutBack.html.twig" %}
{% block section %}



    <br><br><br><br><br>
    <div class="table-responsive">
        <table class="table table-padded table-xl mb-0" id="recent-project-table">
            <thead>
            <tr>
                <th class="border-top-0"> id</th>
                <th class="border-top-0">Description</th>

            </tr>
            </thead>
            <tbody>
            {% for i in historique %}
                <tr>
                    <td class="text-truncate align-middle">
                        <a >{{ i.id }}</a>
                    </td>
                    <td class="text-truncate">
                        <ul class="list-unstyled users-list m-0">
                            <a>{{ i.description }}</a>

                        </ul>
                    </td>



                </tr>



            {% endfor %}
            </tbody>
        </table>
    </div>


    <br><br><br>


    <a href="{{ path('clearhistory') }}"><button class="btn-primary">Clear history</button> </a>
{% endblock %}