{% extends "default/LayoutFront.html.twig" %}



{% block section %}








<div class="blog-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <!-- Login Form -->
                    <div class="form-group">



                        <h4 style="padding-left: 170px">Choose a reason </h4>

                        {{ form_start(signalerform) }}
                        <br> <br>
                            {{ form_widget(signalerform.reason, { 'attr': {'class': 'form-control'} }) }}



                        <br>
                        <div style="padding-left: 170px">
                            {{ form_widget(signalerform.Add, { 'attr': {'class': 'btn oneMusic-btn mt-30'} }) }}
                        </div>

                        {{ form_end(signalerform) }}


                    </div>
                </div>


                <div class="form-group">
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}