{% extends 'LayoutFront.html.twig' %}

{% block sectionlogin %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome BaCK</h3>
                    <!-- Login Form -->*
                    {% block fos_user_content %}
                        {% include "@FOSUser/Security/login.html.twig" %}
                    {% endblock fos_user_content %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}