.glide__slide img{
  width: 100%;
  border-radius: 10px;
}

.glide__slide{
  height: 150px;
  margin-top: 20px;
  opacity: .9;
  transition: .3s linear;
  border-radius: 10px;
}

.glide__slide--active{
  opacity: 1;
  filter: none;
  transform: scale(1.1);
  border-radius: 10px;
}

.glide__slides{
  overflow: visible;
  border-radius: 10px;
}
